@{
	string next = Blog.GetNextPage();
	string prev = Blog.GetPrevPage();
}
<!doctype html>
<html lang="en-us">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="description" content="@Blog.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <script src="~/scripts/jquery-2.0.2.js"></script>
    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
    <link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
    <link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />
    
    <link rel="stylesheet" href="@Blog.FingerPrint("/css/bootstrap-3.0.0.css", "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")" />

    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/site.css")" />

    <link href="~/css/shCore.css" rel="stylesheet" />
    <link href="~/css/shThemeVS2012Dark.css" rel="stylesheet" />

    <link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />
    <link rel="dns-prefetch" href="http://gravatar.com/" />

    @AdminCss()

    <meta name="application-name" content="@Blog.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Page.Title" />
    <meta property="og:image" content="@Blog.Image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
    @if (!string.IsNullOrEmpty(prev))
	{
		<link rel="prev" href="@prev" />
	}
	@if (!string.IsNullOrEmpty(next))
	{
		<link rel="next" href="@next" />
	}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin": null)">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Richard J. Leopold</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var post in Blog.GetPosts())
                            {
                                <li><a href="~/post/@HttpUtility.UrlEncode(post.Slug.ToLowerInvariant())">@post.Title</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catagories <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var cat in Blog.GetCategories().OrderByDescending(p=>p.Value))
                            {
                                <li><a href="~/category/@HttpUtility.UrlEncode(cat.Key.ToLowerInvariant())">@cat.Key (@cat.Value)</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="https://github.com/rleopold" >github</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <header role="banner">
            <span itemprop="name"><a href="~/" itemprop="url">@Blog.Title</a></span><br />
            <em>@Blog.Description</em>
        </header>
        
        <div class="row">
        <div role="main" class="col-md-9">
            @RenderBody()

            @if (Page.ShowPaging != null)
            {
                <ul class="pager">
                    @if (Blog.GetPosts().Count() > Blog.PostsPerPage * Blog.CurrentPage)
                    {
                        <li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
                    }

                    @if (Blog.CurrentPage > 1)
                    {
                        <li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
                    }
                </ul>
            }
        </div>

        <aside role="complementary" class="col-md-3">
            <section>
                <img src="https://bhnet.blob.core.windows.net/images/e8d5c162-0280-4ae9-8eff-e5a34186d173glasshole.png" class="img-rounded" />
                <h3>Richard J. Leopold</h3>
                <p>
                    Richard wrote his first piece of software in 1986 on his father's Apple IIe, and has never looked back. His philosophy on software is that it is more art than science, and that the best solutions don't come from books about design patterns and such, but the natural creative process backed up by technical expertise and experience.
                </p>
                <p>
                    Richard has 15 years of professional experience and studied music, math and computer science while completing a BBA in Information Systems from the Jerry S. Rawls College of Business Administration at Texas Tech University
                </p>
            </section>
        </aside>
            </div>
    </div>

    <footer class="text-center" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
        @if (!User.Identity.IsAuthenticated)
        {
            <span class="pull-right">
                <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a>
            </span>
        }
        <span>
            Copyright &copy; @DateTime.Now.Year
            <a href="mailto:rjleopold@gmail.com" itemprop="url name">Richard J. Leopold</a>
        </span>
    </footer>


    @if ((Blog.CurrentPost != null && Blog.CurrentPost.AreCommentsOpen(Context)) || Blog.IsNewPost)
    {
        <script src="@Blog.FingerPrint("/scripts/comments.js")" async defer></script>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderPage("~/views/AdminMenu.cshtml")
    }

</body>
</html>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="~/scripts/shCore.js"></script>
<script src="~/scripts/shBrushCSharp.js"></script>
<script src="~/scripts/shBrushXml.js"></script>

<!-- Syntax higlighter-->
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>

<!--google analytics-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53804324-1', 'auto');
    ga('send', 'pageview');

</script>

@helper AdminCss()
{
    if (User.Identity.IsAuthenticated)
    {
        <link href="@Blog.FingerPrint("/css/admin.css")" rel="stylesheet" />
    }
}
